html,
body {
    margin: 0;
    padding: 0.5em 0 !important;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14pt;
    font-weight: 400;
    background-color: #FFFFFF;
}
.container,
.container-fluid,
main {
    background-color: #FFFFFF;
}
main {
    padding: 1.5em;
}
.diag-gradient-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+2,e0e0e0+38,e0e0e0+68,b7b7b7+97 */
    background: #e8e8e8; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #e8e8e8 2%, #e0e0e0 38%, #e0e0e0 68%, #b7b7b7 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #e8e8e8 2%,#e0e0e0 38%,#e0e0e0 68%,#b7b7b7 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #e8e8e8 2%,#e0e0e0 38%,#e0e0e0 68%,#b7b7b7 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#b7b7b7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.errorlist {
    list-style: none;
    list-style-type: none;
    color: red;
    font-weight: 700;
    margin-left: 0;
    padding-left: 0;
}
